<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/500x400/?cocktail);">
  <div class="container">
    <h1><strong>Be creative</strong> to <strong> reinvent your favourite cocktails</strong>!</h1>
    <p>Change your night and social life by creating your own cocktail.</p>
  </div>
</div>



<div class="cards"> 
<% @cocktails.each do |cocktail| %>
    
    <% if cocktail.photo.attached? %>
    <% background_url = cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>                                                                                                                                                             
    <% else %>
        <% background_url = cocktail.image_url %>
    <% end %>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= background_url %>')">
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>


<% end %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by Jake Xiao
  </div>
</div>



